@import "~antd/dist/antd.css";
@import "font-awesome/css/font-awesome.min.css";
@import "katex/katex.min.css";
@import "bootstrap/css/bootstrap.min.css";
@import "highlight";
@import "MDEditorPreview";
@import "Tree";
@import "github-markdown";
@import "customMD";
@import "antd";
@import "solarizedDarkTheme";

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url("../font/MaterialIcons-Regular.woff"); /* For IE6-8 */
    src: local("Material Icons"), local("MaterialIcons-Regular"),
        url("../font/MaterialIcons-Regular.woff") format("woff");
}

@mixin standardTheme($base04, $base03, $base03Trs, $base02, $base01, $base00, $base0, $base1, $base2, $base3, $yellow, $orange, $red, $magenta, $violet, $blue, $cyan, $green) {
    .material-icons {
        font-family: "Material Icons";
        font-weight: normal;
        font-style: normal;
        font-size: 16px; /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr; /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility; /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: "liga";
    }
    #root {
        height: 100vh;
        width: 100vw;
    }
    .AppBody {
        height: 100vh;
        width: 100vw;
        margin: 0px;
    }
    .divider div {
        cursor: col-resize !important;
    }
    .mainEditor {
        height: 100%;
        margin: 0px;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .sidebar {
        height: 100%;
        width: 100%;
        background-color: $base04;
    }
    .sidebarTree {
        height: calc(100% - 30px - 37px);
        width: 100%;
        overflow: auto;
    }
    .sidebarTypeSwitch {
        height: 32px;
        width: 100%;
    }
    .imageContainer {
        /* CHECKERBOARD PATTER FOR TRASNPARENT IMAGES */
        // background-color: #e6e6e6;
        // background-image: linear-gradient(45deg, #808080 25%, transparent 25%),
        //     linear-gradient(-45deg, #808080 25%, transparent 25%),
        //     linear-gradient(45deg, transparent 75%, #808080 75%),
        //     linear-gradient(-45deg, transparent 75%, #808080 75%);
        background-size: 40px 40px;
        background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .imagePreview {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow-y: auto;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .rdTabAddButton {
        visibility: hidden;
    }
    ul {
        list-style: disc;
    }
    ol {
        list-style: decimal;
    }
    button {
        background-color: $base04;
        transition: background-color 0.5s ease;
        color: $base1;
        border: 0px;
        outline: none;
    }
    button:hover {
        background-color: $base02;
    }
    .editorFooter {
        line-height: 32px;
        vertical-align: middle;
        display: grid;
        grid-template-columns: [start] 140px [charCount] auto [leftAligned] 150px [end];
    }
    .editorFooter > p {
        margin: 0 5px 13px 5px;
        display: inline-block;
        line-height: 32px;
        vertical-align: middle;
        text-align: center;
    }

    .editorFooter .charCount {
        grid-column-start: start;
        grid-column-end: charCount;
    }
    .editorFooter .leftAligned {
        .fluid-button-container {
            background: $base03;
        }

        .fluid-button-highlight {
            background: $base04;
        }

        .fluid-button {
            color: $base1;
            .active {
                color: $blue;
            }
            .material-icons {
                transition: linear 0.5s color;
            }
        }

        grid-column-start: leftAligned;
        grid-column-end: end;
    }

    .sidebarTypeSwitch .fluid-button,
    .editorFooter .fluid-button {
        width: 50%;
        height: 32px;
        text-overflow: ellipsis;
        line-height: 32px;
        padding-top: 4px;
    }
    .sidebarTypeSwitch .fluid-button .material-icons,
    .editorFooter .fluid-button .material-icons {
        font-size: 24px; /* Preferred icon size */
    }
    .projectTitle {
        background-color: $base04;
        width: 100%;
        height: 35px;
        color: $base1;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        vertical-align: middle;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    ::-webkit-scrollbar-corner {
        background: $base04;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        border: 3px solid $base04;
        background: $base02;
        background-clip: content-box;
    }
    ::-webkit-scrollbar-track {
        background: $base04;
    }
    .appBarButtonBlock {
        margin-top: -7px;
        text-align: center;
        margin-right: -7px;
        // width: 140px !important;
    }
    .appBarButtonBlock div {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    button :focus {
        border: 0px;
    }
    i.primary {
        color: $blue;
    }
    .react-tabs-tab-close {
        box-sizing: content-box;
    }
    .react-tabs-tab-content span {
        transition: color 0.5s ease;
    }
    .unsavedTab {
        color: $blue;
    }
    div:hover > .fa-cog {
        animation: fa-spin 2s infinite linear;
    }
    @keyframes fa-spin {
        0% {
            -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
        }
    }
    .placeholderLogo {
        opacity: 0.5;
        background-image: url("../../assets/placeholder.png");
        height: calc(100% - 77px);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin: 20px;
    }
    .react-tabs-container {
        border-bottom: 0 !important;
    }

    .fluid-button-container {
        background: $base04;
    }

    .fluid-button-highlight {
        background: $base02;
    }

    .fluid-button {
        color: $base1;
    }

    .react-tabs-container {
        background-color: $base04;
        border-color: $base03;
    }

    .react-tabs-active {
        background-color: $base03;
    }

    .react-tabs-tab-close {
        color: $base3;
        border-color: $base04;
    }

    .react-tabs-active .react-tabs-tab-close {
        border-color: $base03;
    }

    .react-tabs-tab {
        color: $base00;
    }

    .react-tabs-active.react-tabs-tab {
        color: $base2;
    }

    .react-tabs-tab-close:hover {
        background-color: $blue;
        color: $base04;
        border-color: $blue;
    }

    .react-tabs-active .react-tabs-tab-close:hover {
        background-color: $blue;
        color: $base03;
        border-color: $blue;
    }
}

.App.solarized_dark {
    @import "solarizedDarkTheme";

    height: 100vh;
    width: 100vw;
    margin: 0px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $base03;
    color: $base1;

    @include standardTheme($base04, $base03, $base03Trs, $base02, $base01, $base00, $base0, $base1, $base2, $base3, $yellow, $orange, $red, $magenta, $violet, $blue, $cyan, $green);
}

.App.solarized_light {
    @import "solarizedLightTheme";

    height: 100vh;
    width: 100vw;
    margin: 0px;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: $base03;
    color: $base1;

    @include standardTheme($base04, $base03, $base03Trs, $base02, $base01, $base00, $base0, $base1, $base2, $base3, $yellow, $orange, $red, $magenta, $violet, $blue, $cyan, $green);
}
