$base3: #001f27;
$base2: #002b36;
$base03Trs: rgba(0, 43, 54, 0.5);
$base1: #073642;
$base0: #586e75;
$base00: #657b83;
$base01: #839496;
$base02: #93a1a1;
$base03: #eee8d5;
$base04: #fdf6e3;
$orange: #b58900;
$yellow: #cb4b16;
$magenta: #dc322f;
$red: #d33682;
$blue: #6c71c4;
$violet: #268bd2;
$green: #2aa198;
$cyan: #859900;
