@import 'shared';

.fileIcon{
    color:$base1;
}
.fileIcon.fa-file-text{
    color: $red;
}

.folderIcon {
    color: $blue;
}

.ant-tree-title{
    color: $base1;
}

.ant-tree-switcher{
    color: $base01;
}
